body, 
.banner {
	background-image: url("./background_image.jpg");
}

.social-icon {
	max-width: 50px;
}

.content-section-b {
    background-color: #efeded;
}

footer {
	padding: 10px;
	text-align: right;
	color: #7e7a7a;
}